
@using Frontend.API.Model
@model BoardModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
    <form method="POST">
        <input type="text" id="card-info" name="card-info" placeholder="Info text"/>
        <input type="submit" value="Nytt kort"/>
    </form>
</div>

