@using Frontend.API.Model
@model CardDTO

<div class="card">
    <p>@Model.Info</p>
    <div>
        <div class="leftButton">

            <form method="POST">
                <input type="hidden" value="9" id="cardId" name="cardId"></input>
                <button type="button" class="previous round">&#8249;</button>
            </form>
        </div>
        <div class="rightButton">
            <button type="button" onclick="moveRight(@Model.Id)" class="next round">&#8250;</button>
        </div>
    </div>
</div>