@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div id="mainDiv">
    <div class="divRow" id="divLeft">
        1
    </div>
    
    <div class="divRow" id="divMiddleLeft">
        2
    </div>

    <div class="divRow" id="divMiddleRight">
        3
    </div>
    <div class="divRow" id="divRight">
        4
    </div>

</div>


<style>
.divRow{
    float: left;
    width: 25%;
}

</style>
