@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" type="text/css" href="~/css/main.css" />
<link rel="stylesheet" type="text/css" href="~/css/util.css" />
<script src="site.js"></script>

<div id="Div">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                <form method="POST" class="login100-form validate-form">
                    <span class="login100-form-title p-b-33">
                        Alla Kan-Ban!
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input id="email" class="input100" type="text" name="email" placeholder="Email">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                        <input id="password" class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-20">
                        <!-- SKA VARA EN KNAPP, ÄR EN LÄNK FÖR TILLFÄLLET -->
                        <input type="submit" class="login100-form-btn" value="Sign in">
                        </input>
                    </div>
                    <br>
                    <div class="text-center">
                        <span class="txt1">
                            Create an account?
                        </span>

                        <a href="#" class="txt2 hov1" onclick="location.href='/Register'">
                            Sign up
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>