@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div id="mainDiv">
    @foreach (var item in @Model.boardList)
    {
        <div>
           
           
            <h5 onclick="location.href='/Board?id=@item.Id'">@item.Title</h5>
            
        </div>
    }

</div>


<style>
.divRow{
    float: left;
    width: 25%;
}

</style>
