@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div id="mainDiv">
    @foreach (var item in @Model.boardList)
    {
        <div>
            <p>@item.Title</p>
        </div>
    }

</div>


<style>
.divRow{
    float: left;
    width: 25%;
}

</style>
