@using Frontend.API.Model
@model CardDTO

<div class="leftButton">
    <form method="POST">
        <input type="hidden" value="9" id="cardId" name="cardId">
        <button type="button" class="previous round">&#8249;</button>
    </form>
</div>