@using Frontend.API.Model
@model CardDTO

<div class="leftButton">
    <form method="POST">
        <input type="hidden" value="@Model.Id" id="cardId" name="cardId">
        <input type="hidden" value="left" id="button" name="button">
        <button type="submit" class="previous round">&#8249;</button>
    </form> 
</div>