@using Frontend.API.Model
@model CardDTO

<div class="rightButton">
    <form method="POST">
        <input type="hidden" value="9" id="cardId" name="cardId">
        <button type="button" class="previous round">&#8250;</button>
    </form>
</div>