@using Frontend.API.Model
@model CardDTO

<div class="rightButton">
    <form method="POST">
        <input type="hidden" value="@Model.Id" id="cardId" name="cardId">
        <input type="hidden" value="right" id="button" name="button">
        <button type="submit" class="previous round">&#8250;</button>
    </form>
</div>